@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: Nunito ,Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 50px 20px;
    position: relative;

    .video-container {
        margin: 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        height: auto;
        
        video {
            background-color: black;
            width: 500px;
            height: 375px;
            max-width: 500px;
            border-radius: 20px;
            object-fit: cover;
        }
    }

    .options-container {
        padding: 20px;
/*         position: absolute;
        right: 20px;
        top: 150px; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 300px;
        box-shadow: inset 0 0 30px #BBB;
        background-color: #FFF;
        border-radius: 20px;
    }

    #imgs-container {
        display: flex;
        gap: 20px;
    }

    .input-class,
    #interval,
    #numPhotos {
        padding: 4px 10px;
        width: 100%;
        min-height: 25px;
        max-width: 300px;
        max-height: fit-content;
        border: 1px solid #BBBBBB45;
        border-radius: 20px;
        font-size: 14px;
        transition: box-shadow .3s ease-in-out, filter .5s ease;

        &:focus {
            color: #000;
            outline: none;
            background-color: #FFF;
            box-shadow: inset 2px 2px 5px #BBB;
            filter: drop-shadow(5px 10px 5px #FFF);
        }
    }

    #interval,
    #numPhotos {
        max-width: 100px;
    }

    .files-input {
        max-width: 300px;

        &::file-selector-button {
            width: 100%;
            min-height: 35px;
            max-width: fit-content;
            max-height: fit-content;
            border-radius: 20px;
            background-color: #e5e5e582;
            box-shadow: inset 10px 10px 15px #FFF;
            border: 1px solid #BBBBBB45;
            transition: all .5s ease-in-out;


        }

        &::file-selector-button:hover {
            background-color: #FFF;
            box-shadow: inset 5px 5px 10px #BBB;
            filter: drop-shadow(5px 10px 5px #FFF);
        }
    }

    #clases-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }


    #add-class {
        position: sticky;
        top: 20px;
        right: 20px;
    }

    .upload-btn {
        align-self: end;
    }
}

.btn {
    width: 100%;
    min-height: 35px;
    max-width: 150px;
    max-height: fit-content;
    border-radius: 20px;
    background-color: #e5e5e582;
    box-shadow: inset 10px 10px 15px #FFF;
    border: 1px solid #BBBBBB45;
    transition: all .5s ease-in-out;

    &:hover {
        background-color: #FFF;
        box-shadow: inset 5px 5px 10px #BBB;
        filter: drop-shadow(5px 10px 5px #FFF);
    }

    &#add-class {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        span {
            color: #778DA9;
            font-size: 30px;
            font-weight: 500;
        }
    }
}

.class-container {
    padding: 25px 20px 50px;
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: inset 0 0 30px #BBB;
    background-color: #FFF;
    border-radius: 20px;
}