.container {
    padding: 50px 20px;

    .video-container {
        margin: 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        height: auto;
        
        video {
            background-color: black;
            width: 500px;
            height: 375px;
            max-width: 500px;
            border-radius: 20px;
            object-fit: cover;
        }
    }

    .class-1-container {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: inset 0 0 30px #BBB;
        background-color: #FFF;
        border-radius: 20px;
    }

    .btn {
        height: 40px;
        max-width: 150px;
        max-height: fit-content;
        border-radius: 20px;
        background-color: #e5e5e582;
        box-shadow: inset 10px 10px 15px #FFF;
/*         filter: drop-shadow(5px 10px 5px #e3e2e2);
 */        border: 1px solid #BBBBBB45;
        transition: all .5s ease-in-out;

        &:hover {


            background-color: #FFF;
            box-shadow: inset 5px 5px 10px #BBB;
            filter: drop-shadow(5px 10px 5px #FFF);

        }
    }

    .options-container {
        padding: 20px;
/*         position: absolute;
        right: 20px;
        top: 150px; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 300px;
        box-shadow: inset 0 0 30px #BBB;
        background-color: #FFF;
        border-radius: 20px;
    }

    #imgs-container {
        display: flex;
        gap: 20px;
    }

    .input-class {
        max-width: 300px;
    }

    #files-input {
        max-width: 300px;
    }

    #upload-btn {
        max-width: 150px;
        height: 40px;
    }
}